In [3]:
from pandas_datareader import data as web
import pandas as pd
import numpy as np

In [4]:
assets =  ['AAPL', 'GM']

df = pd.DataFrame()

for stock in assets:
    df[stock] = web.DataReader(stock, data_source='yahoo',start='2019-1-1' ,end='2019-10-1')['Adj Close']

In [9]:
d_returns = df.pct_change()
annual_returns = d_returns.mean() * 250
annual_returns

AAPL    0.488843
GM      0.111826
dtype: float64

In [12]:
cov_matrix_d = d_returns.cov()
cov_matrix_a = cov_matrix_d * 250
cov_matrix_a

          AAPL        GM
AAPL  0.080445  0.035378
GM    0.035378  0.062658